<div class="app" id="app-window" fxLayout="column" fxLayoutAlign="start stretch">

  <!-- <mat-toolbar fxLayout="row" fxLayoutAlign="start center"></mat-toolbar> -->

  <div class="app-body" fxFlex="fill" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="navbar" fxShow.lt-sm="false" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
      <h2 class="navbar-option navbar-option-start" routerLink="home">Home</h2>
      <h2 class="navbar-option navbar-option-middle" routerLink="resume">Resume</h2>
      <h2 class="navbar-option navbar-option-middle" routerLink="music">Music</h2>
      <h2 class="navbar-option navbar-option-middle" routerLink="photo">Photo</h2>
      <h2 class="navbar-option navbar-option-end" routerLink="video">Video</h2>
    </div>
    <div class="navbar-mobile" fxShow.lt-sm="true" fxShow="false" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
      <h2 class="navbar-option" fxLayout="row" fxLayoutAlign="center center">Home <mat-icon class="expand">expand_more</mat-icon> </h2>
    </div>


    <router-outlet></router-outlet>


    <!-- <router-outlet></router-outlet> -->
  </div>

</div>