.app {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7758b+0,ffccd7+100 */
  background: #aa7180; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #aa7180 0%, #ceabb4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #aa7180 0%,#ceabb4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #aa7180 0%,#ceabb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa7180', endColorstr='#ceabb4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /* background-image: url(../assets/images/sphere.png); */
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.app-body {
  margin: 20px;
}

.navbar {
  color: rgba(43, 24, 22, 0.582);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.116); */
  box-shadow: 5px 5px 8px rgba(65, 35, 35, 0.418);
}

.navbar-mobile {
  color: rgba(43, 24, 22, 0.582);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.116); */
  box-shadow: 5px 5px 8px rgba(65, 35, 35, 0.418);
}

.navbar-mobile-expanded {
  color: rgba(43, 24, 22, 0.582);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.116); */
  box-shadow: 5px 5px 8px rgba(65, 35, 35, 0.418);
}

.navbar-option {
  font-weight: 200;
}

.expand {
  font-weight: 200;
  margin-left: 5px;
}

.navbar-option:hover {
  cursor: pointer;
  color: rgba(43, 24, 22, 0.918);
}

.navbar-option-start {
  padding-right: 20px;
  border-right: 1px solid rgba(48, 34, 33, 0.315);
}

.navbar-option-middle {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(48, 34, 33, 0.315);
}

.navbar-option-end {
  padding-left: 20px;
}

/* ANIMATIONS */

@keyframes ComponentFadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes ComponentFadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

app-home {
  animation: 0.5s ComponentFadeIn;
}

app-resume {
  animation: 0.5s ComponentFadeIn;
}