<div class="app-body-content" fxFlex="90" fxShow.lt-sm="false" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div class="home" fxFlex="35" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="home-about" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about" fxFlex="fill">
        <p>Some text here...</p>
      </div>
    </div>
  </div>

  <div class="home-lights" fxShow.lt-md="false" fxFlex="20" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="sphere1" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="50" src="../../../assets/images/sphere.png">
    </div>
    <div class="sphere2" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="30" src="../../../assets/images/sphere-red.png">
    </div>
    <div class="sphere3" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="40" src="../../../assets/images/sphere-yellow.png">
    </div>
    <div class="sphere4" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex="60" src="../../../assets/images/sphere-blue.png">
    </div>
  </div>

  <div class="home" fxFlex="35" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="home-about" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about" fxFlex="fill">
        <p>Some text here...</p>
      </div>
    </div>
  </div>
</div>