<div class="app-body-content" fxFlex="100" fxShow.lt-md="false" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
  <h1 class="page-title" fxFlex="100" fxLayout="row" fxLayoutAlign="center">James Randolph</h1>

  <div class="home" fxFlex="45" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h1 class="header-title">Contact</h1>
      <div class="about" fxFlex="fill">
        <p>+44 7365 377 213 (Current UK Number)</p>
        <p>+1 (919) 353-1530 (US Number)</p>
        <p>jamhenry@live.unc.edu (School)</p>
        <p>jameshrandolphv@gmail.com (Personal)</p>
      </div>

      <h1 class="header-title">Experience</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>Bank of America</em><br>Web Developer Intern</h2>
        <p><em>June 2018 - Aug 2018</em></p>
        <p>Worked within Global Wholesale Banking to improve
          efficiency in incident communications and team
          capacity modeling. Involved working with two other
          interns to transform business requirements and
          existing, inefficient processes into intuitive, mobilefriendly
          Angular web applications.</p>
      </div>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>UNC Dept. of Computer Science</em><br>Undergraduate Teaching Assistant</h2>
        <p><em>Jan 2016 - May 2018</em></p>
        <p>Collaborated with approx. 50 fellow teaching
          assistants to aid in the instruction of the hundreds
          of students enrolled in both COMP 101 and COMP
          110. My roles included developing bi-weekly
          problem sets (incl. tests for these problem sets) for
          COMP 101, writing worksheet questions for COMP
          110, holding several office hours per week,
          mentoring younger teaching assistants, and
          brainstorming ideas for interesting ways to present
          material to students</p>
      </div>

      <h1 class="header-title">Education</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>University of North Carolina at Chapel Hill</em><br>Computer Science B.S.</h2>
        <p><em>Aug 2015 - May 2019 (Expected Graduation)</em></p>
        <p>Overall GPA: 3.799</p>
      </div>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>King‘s College London</em><br>Semester Abroad</h2>
        <p><em>Sep 2018 - Current</em></p>
        <p>Studying abroad for one semester in London, UK.
          Courses taken include AI, Intro to Robotics, and Human-Computer
          Interaction.</p>
      </div>
    </div>
  </div>



  <div class="home" fxFlex="45" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">

      <h1 class="header-title">Technical Skills</h1>
      <div class="about" fxFlex="fill">
        <p><span style="font-weight: 500">Languages: </span>TypeScript, Java, JavaScript,
          Angular, jQuery, HTML/CSS, Python, SQL,
          C, Swift</p>
        <p><span style="font-weight: 500">Tools: </span>Git, Bash, VSCode, Adobe Suite,
          Eclipse, Xcode, Android Studio</p>
      </div>

      <h1 class="header-title">Projects</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>Social Media Web App</em></h2>
        <p><em>Nov 2017 - Dec 2017</em></p>
        <p>Developed a fully-functional Reddit-like
          application for COMP 426 (Modern Web
          Programming) using Javascript (with jQuery),
          MySQL, and PHP. This app is still live at
          http://www.cs.unc.edu/Courses/comp426-f17/
          users/jamhenry/final/RamZoneFinal/</p>
        <h2 class="header-title"><em>Mobile Game Development</em></h2>
        <p><em>June 2017 - Aug 2017</em></p>
        <p>Taught myself mobile game development
          for Android and iOS, and deployed an
          arcade game to the App Store and Google
          Play. Included development of a website
          for the game.</p>
        <h2 class="header-title"><em>Web App Startup</em></h2>
        <p><em>Spring 2017</em></p>
        <p>Co-creator and lead developer/graphic
          designer for a web app made using
          Javascript (with jQuery) and PHP. The app
          targeted college students seeking to share
          and discover events on campus.</p>
        <h2 class="header-title"><em>COMP 541 (Digital Logic)</em></h2>
        <p><em>Spring 2017</em></p>
        <p>Used Java and JavaFX to write a tool for
          my classmates that simplified the task of
          creating an initial screen memory for our
          MIPS processor.
          Used MIPS assembly and System Verilog
          to create a virtual synthesizer that allowed
          drawing of custom waveforms. This was
          written to run on a MIPS processor that we
          designed as part of our final project.</p>
      </div>

    </div>
  </div>
</div>

<div class="app-body-content-mobile" fxFlex="100" fxShow="false" fxShow.lt-md="true" fxLayout="column" fxLayoutAlign="space-around stretch">
  <h1 class="page-title" fxFlex="100" fxLayout="row" fxLayoutAlign="center">James Randolph</h1>

  <div class="home-mobile">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h1 class="header-title">Contact</h1>
      <div class="about" fxFlex="fill">
        <p>+44 7365 377 213 (Current UK Number)</p>
        <p>+1 (919) 353-1530 (US Number)</p>
        <p>jamhenry@live.unc.edu (School)</p>
        <p>jameshrandolphv@gmail.com (Personal)</p>
      </div>

      <h1 class="header-title">Experience</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>Bank of America</em><br>Web Developer Intern</h2>
        <p><em>June 2018 - Aug 2018</em></p>
        <p>Worked within Global Wholesale Banking to improve
          efficiency in incident communications and team
          capacity modeling. Involved working with two other
          interns to transform business requirements and
          existing, inefficient processes into intuitive, mobilefriendly
          Angular web applications.</p>
      </div>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>UNC Dept. of Computer Science</em><br>Undergraduate Teaching Assistant</h2>
        <p><em>Jan 2016 - May 2018</em></p>
        <p>Collaborated with approx. 50 fellow teaching
          assistants to aid in the instruction of the hundreds
          of students enrolled in both COMP 101 and COMP
          110. My roles included developing bi-weekly
          problem sets (incl. tests for these problem sets) for
          COMP 101, writing worksheet questions for COMP
          110, holding several office hours per week,
          mentoring younger teaching assistants, and
          brainstorming ideas for interesting ways to present
          material to students</p>
      </div>

      <h1 class="header-title">Education</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>University of North Carolina at Chapel Hill</em><br>Computer Science B.S.</h2>
        <p><em>Aug 2015 - May 2019 (Expected Graduation)</em></p>
        <p>Overall GPA: 3.799</p>
      </div>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>King‘s College London</em><br>Semester Abroad</h2>
        <p><em>Sep 2018 - Current</em></p>
        <p>Studying abroad for one semester in London, UK.
          Courses taken include AI, Intro to Robotics, and Human-Computer
          Interaction.</p>
      </div>
    </div>
  </div>

  <div class="home-mobile" style="margin-top: 20px">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">

      <h1 class="header-title">Technical Skills</h1>
      <div class="about" fxFlex="fill">
        <p><span style="font-weight: 500">Languages: </span>TypeScript, Java, JavaScript,
          Angular, jQuery, HTML/CSS, Python, SQL,
          C, Swift</p>
        <p><span style="font-weight: 500">Tools: </span>Git, Bash, VSCode, Adobe Suite,
          Eclipse, Xcode, Android Studio</p>
      </div>

      <h1 class="header-title">Projects</h1>
      <div class="about" fxFlex="fill">
        <h2 class="header-title"><em>Social Media Web App</em></h2>
        <p><em>Nov 2017 - Dec 2017</em></p>
        <p>Developed a fully-functional Reddit-like
          application for COMP 426 (Modern Web
          Programming) using Javascript (with jQuery),
          MySQL, and PHP. This app is still live at
          http://www.cs.unc.edu/Courses/comp426-f17/
          users/jamhenry/final/RamZoneFinal/</p>
        <h2 class="header-title"><em>Mobile Game Development</em></h2>
        <p><em>June 2017 - Aug 2017</em></p>
        <p>Taught myself mobile game development
          for Android and iOS, and deployed an
          arcade game to the App Store and Google
          Play. Included development of a website
          for the game.</p>
        <h2 class="header-title"><em>Web App Startup</em></h2>
        <p><em>Spring 2017</em></p>
        <p>Co-creator and lead developer/graphic
          designer for a web app made using
          Javascript (with jQuery) and PHP. The app
          targeted college students seeking to share
          and discover events on campus.</p>
        <h2 class="header-title"><em>COMP 541 (Digital Logic)</em></h2>
        <p><em>Spring 2017</em></p>
        <p>Used Java and JavaFX to write a tool for
          my classmates that simplified the task of
          creating an initial screen memory for our
          MIPS processor.
          Used MIPS assembly and System Verilog
          to create a virtual synthesizer that allowed
          drawing of custom waveforms. This was
          written to run on a MIPS processor that we
          designed as part of our final project.</p>
      </div>

    </div>
  </div>
</div>