<div class="app-body-content" fxFlex="100" fxShow.lt-sm="false" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div class="home" fxFlex="45" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about" fxFlex="fill">
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
      </div>
    </div>
  </div>

  <!-- <div class="home-lights" fxShow.lt-md="false" fxFlex="20" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
        <img class="sphere1" src="../../../assets/images/sphere-blue.png">
      </div>
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
        <img class="sphere2" src="../../../assets/images/sphere-red.png">
      </div>
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
        <img class="sphere3" src="../../../assets/images/sphere-yellow.png">
      </div>
    </div> -->

  <div class="home" fxFlex="45" fxFlex.lt-md="45" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about" fxFlex="fill">
        <p>Some text here...</p>
      </div>
    </div>
  </div>
</div>

<div class="app-body-content-mobile" fxFlex="100" fxShow="false" fxShow.lt-sm="true" fxLayout="column" fxLayoutAlign="space-around stretch">
  <div class="home-mobile">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about">
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
        <p>Some text here...</p>
      </div>
    </div>
  </div>

  <div class="home-mobile" style="margin-top: 20px">
    <div class="home-about" fxLayout="column" fxLayoutAlign="start stretch">
      <h2 class="header-title">About Me</h2>
      <div class="about">
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
        <p>Some more text here...</p>
      </div>
    </div>
  </div>
</div>